:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --background-color: #383838cc;
  --light-background-color: #2c2c2c7a;
  --highlight-color: #007bffd8;
  --dark-color: #1111119c;
  --text-color: #fff;
  --font-family: "Courier New", Courier, monospace;
  --box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  --border-radius: 0.625rem;
  --transition-duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-color: hsla(200, 40%, 30%, 0.4);
  background-image: url("https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png"),
    url("https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png"),
    url("https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png");
  background-repeat: repeat-x;
  background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
  background-size: 156.25rem, 50rem, 31.25rem 12.5rem, 62.5rem, 25rem 16.25rem;
  animation: 50s para infinite linear;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-family: var(--font-family);
}

@keyframes para {
  100% {
    background-position: -312.5rem 20%, -50rem 95%, 31.25rem 50%, 62.5rem 100%,
      25rem 0;
  }
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  text-align: center;
  opacity: 1;
  transition: opacity var(--transition-duration) ease-in-out;
}

.intro.hidden {
  opacity: 0;
}

.text {
  font-weight: 100;
  font-size: 1.75rem;
  color: #fafafa;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.game-container {
  margin-top: 5%;
}

.grid {
  width: 37.5rem;
  height: 50rem;
  background-color: var(--dark-color);
  position: relative;
  border-radius: var(--border-radius);
}

.shooter {
  width: 3.75rem;
  height: 3.75rem;
  background: url("/images/shooter.webp") no-repeat center center;
  background-size: contain;
  position: absolute;
  bottom: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
}

.invader {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  animation: invaderMove 1s linear infinite alternate;
}

@keyframes invaderMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1.25rem);
  }
}

.hit {
  animation: hitAnimation 0.3s linear;
}

@keyframes hitAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

.boom {
  width: 3.75rem;
  height: 3.75rem;
  background: url("/images/explosion.png") no-repeat center center;
  background-size: contain;
  position: absolute;
  animation: boomAnimation 0.3s linear;
}

@keyframes boomAnimation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

.laser {
  width: 0.3125rem;
  height: 1.25rem;
  background: url("/images/laser.png") no-repeat center center;
  background-size: contain;
  position: absolute;
}

.score-music-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.25rem;
}

.results {
  font-size: 1.5rem;
}

#music-toggle {
  background-color: #2cac3086;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.75rem;
  transition: background-color var(--transition-duration) ease;
}

#music-toggle:hover {
  background-color: #45a049;
}

.invader-denis {
  color: red;
}

.invader-website {
  color: green;
}

.invader-portfolio {
  color: rgb(255, 0, 242);
}

.invader-welcome {
  color: orange;
}

.invader-to {
  color: rgb(0, 204, 255);
}

/* Media Query to hide elements on smaller screens */
@media (max-width: 50rem), (max-height: 56.25rem) {
  .grid,
  .game-container,
  .results,
  #music-toggle {
    display: none;
  }
}

/* Media Query to hide resize message on larger screens */
@media (min-width: 50.0625rem) and (min-height: 56.3125rem) {
  .resize-message {
    display: none;
  }
}

.resize-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  background-color: #4242429c;
  padding: 0.625rem;
  border-radius: var(--border-radius);
}

.ribbon {
  width: 9.375rem;
  height: 9.375rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
}

.ribbon a {
  position: absolute;
  display: block;
  width: 12.5rem;
  padding: 0.625rem 0;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font: bold 0.8125rem Arial, sans-serif;
  text-decoration: none;
  transform: rotate(45deg);
  top: 2.5rem;
  right: -2.5rem;
  box-shadow: 0 0.1875rem 0.625rem -0.3125rem rgba(0, 0, 0, 1);
  transition: background var(--transition-duration), transform var(--transition-duration);
}

.ribbon a:hover {
  background: var(--primary-color-hover);
  transform: rotate(45deg) scale(1.1);
}

.social-icons {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(90%);
  display: flex;
  flex-direction: column;
}

.social-icons a {
  margin: 0.3125rem 0;
  transition: transform var(--transition-duration);
}

.social-icons a:hover {
  transform: scale(1.1);
}

.social-icons img {
  width: 2.5rem;
  height: 2.5rem;
}

.menu-icon {
  position: fixed;
  top: 0.625rem;
  right: 0.625rem;
}

.menu-icon a {
  color: inherit;
  text-decoration: none;
}

.menu-icon i {
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 1.875rem;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.dropdown-menu a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-menu a i {
  margin-right: 0.625rem;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-icon + .dropdown-menu {
  display: block;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  margin-top: 10%;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 75rem;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: 1.25rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 1.25rem;
}

.profile-photo {
  width: 20%;
  border-radius: var(--border-radius);
  margin-right: 1.25rem;
  min-width: 6.25rem;
}

.about-card {
  flex: 1;
}

.about-card h1 {
  margin: 0.5rem 0;
}

.about-card p {
  font-size: 1rem;
  line-height: 1.5;
}

.skills-card {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.25rem;
  text-align: center;
  width: 90%;
  max-width: 75rem;
  margin-bottom: 1.25rem;
}

.skills-card h2 {
  margin-bottom: 1.25rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
}

.skill {
  padding: 0.3125rem;
  transition: transform var(--transition-duration);
}

.skill:hover {
  transform: scale(1.1);
}

.skill i {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

.skill p {
  margin: 0;
  font-size: 1rem;
}

.experience-card {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.25rem;
  text-align: left;
  width: 90%;
  max-width: 75rem;
  margin-bottom: 1.25rem;
}

.experience-card h2 {
  margin-bottom: 1.25rem;
}

.experience-card ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

.menu-link {
  display: inline-block;
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 0.3125rem;
  transition: background-color var(--transition-duration);
}

.menu-link:hover {
  background-color: var(--primary-color-hover);
}

.projects-container {
  max-width: 75rem;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.projects-container h1 {
  margin-bottom: 1.25rem;
  margin-top: 15%;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.project-card {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: transform var(--transition-duration), background-color var(--transition-duration);
  width: 18.75rem;
  text-align: left;
}

.project-card img {
  width: 100%;
  height: 13.75rem;
  object-fit: cover;
  padding: 1rem;
}

.project-card h2 {
  margin: 0.6375rem;
  font-size: 1.5rem;
}

.project-card p {
  margin: 0 0.9375rem 0.9375rem;
  font-size: 1rem;
}

.project-card a {
  display: block;
  margin: 0.9375rem;
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 0.3125rem;
  transition: background-color var(--transition-duration);
}

.project-card a:hover {
  background-color: var(--primary-color-hover);
}

.project-card:hover {
  background-color: #4a4a4a;
  transform: translateY(-0.3125rem);
}

/* Container for Labs */
.labs-container {
  max-width: 75rem;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 10%;
}

.labs-container h1 {
  margin-bottom: 1.25rem;
}

/* Grid for Labs */
.labs-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

/* Individual Lab Card */
.lab-card {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: transform var(--transition-duration), background-color var(--transition-duration);
  width: 18.75rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lab-card img {
  width: 100%;
  height: 9.375rem;
  object-fit: cover;
}

.lab-card-content {
  padding: 0.9375rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labs-container h1, .projects-container h1{
  background-color: var(--background-color);
  border-radius: 0.7rem;
  padding: 1rem;
}

.lab-card h2 {
  margin: 0 0 0.625rem 0;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.lab-card p {
  margin: 0 0 0.9375rem 0;
  font-size: 1rem;
  flex-grow: 1;
}

.lab-card a {
  display: block;
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 0.3125rem;
  transition: background-color var(--transition-duration);
  margin-top: auto;
}

.lab-card a:hover {
  background-color: var(--primary-color-hover);
}

.lab-card:hover {
  background-color: #4a4a4a;
  transform: translateY(-0.3125rem);
}

.contact-container {
  max-width: 37.5rem;
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: left;
  margin-top: 15%;
}

.contact-container h1 {
  margin-bottom: 1.25rem;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 0.3125rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 0.9375rem;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: #4a4a4ac7;
  color: var(--text-color);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background-color: #5a5a5a;
}

.contact-form button {
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.contact-form button:hover {
  background-color: var(--primary-color-hover);
}

.contact-info {
  background-color: var(--light-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.25rem;
  color: var(--text-color);
  margin-top: 1.25rem;
}

.contact-info p {
  margin: 0.625rem 0;
}

.contact-info strong {
  color: var(--highlight-color);
}

/* Styling für die Navigationspfeile */
.arrow {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  transition: transform var(--transition-duration), background-color var(--transition-duration),
    box-shadow var(--transition-duration);
  position: fixed;
  background-color: var(--background-color);
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.arrow:hover {
  transform: scale(1.2);
  background-color: #4a4a4a;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  opacity: 1;
}

/* Spezifische Positionierung für linke und rechte Pfeile */
.arrow.left {
  left: 0.625rem;
  top: 50%;
}

.arrow.right {
  right: 0.625rem;
  top: 50%;
}

/* Pulsierende Animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: var(--box-shadow);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  }
}

.arrow {
  animation: pulse 2s infinite;
}