* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%; /* Geändert von 1000px auf 100%, um die volle Breite zu nutzen */
  background-color: hsla(200, 40%, 30%, 0.4);
  background-image: url("https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png"),
    url("https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png"),
    url("https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png");
  background-repeat: repeat-x;
  background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
  background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
  animation: 50s para infinite linear;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.intro.hidden {
  opacity: 0;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.game-container {
  display: none;
  position: relative;
  text-align: center;
}

.grid {
  width: 600px;
  height: 800px;
  background-color: #111;
  position: relative;
  overflow: visible;
  border-radius: 10px;
}

.shooter {
  width: 60px;
  height: 60px;
  background: url("/images/shooter.webp") no-repeat center center;
  background-size: contain;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.invader {
  width: 60px;
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  animation: invaderMove 1s linear infinite alternate;
}

@keyframes invaderMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

.hit {
  animation: hitAnimation 0.3s linear;
}

@keyframes hitAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

.boom {
  width: 60px;
  height: 60px;
  background: url("/images/explosion.png") no-repeat center center;
  background-size: contain;
  position: absolute;
  animation: boomAnimation 0.3s linear;
}

@keyframes boomAnimation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

.laser {
  width: 5px;
  height: 20px;
  background: url("/images/laser.png") no-repeat center center;
  background-size: contain;
  position: absolute;
}

.score-music-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.results {
  font-size: 24px;
}

#music-toggle {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

#music-toggle:hover {
  background-color: #45a049;
}

.invader-denis {
  color: red;
}

.invader-website {
  color: green;
}

.invader-portfolio {
  color: rgb(255, 0, 242);
}

.invader-welcome {
  color: orange;
}

.invader-to {
  color: rgb(0, 204, 255);
}

/* Media Query to hide elements on smaller screens */
@media (max-width: 800px), (max-height: 900px) {
  .grid,
  .game-container,
  .results,
  #music-toggle {
    display: none;
  }
}

/* Media Query to hide resize message on larger screens */
@media (min-width: 801px) and (min-height: 901px) {
  .resize-message {
    display: none;
  }
}

.resize-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 24px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
}

.ribbon a {
  position: absolute;
  display: block;
  width: 200px;
  padding: 10px 0;
  background: #007bff;
  color: #fff;
  text-align: center;
  font: bold 13px Arial, sans-serif;
  text-decoration: none;
  transform: rotate(45deg);
  top: 40px;
  right: -40px;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  transition: background 0.3s, transform 0.3s;
}

.ribbon a:hover {
  background: #0056b3;
  transform: rotate(45deg) scale(1.1);
}

.social-icons {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(90%);
  display: flex;
  flex-direction: column;
}

.social-icons a {
  margin: 5px 0;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
}

.menu-icon a {
  color: inherit;
  text-decoration: none;
}

.menu-icon i {
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-menu a i {
  margin-right: 10px;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-icon + .dropdown-menu {
  display: block;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  background-color: #383838;
}

.profile-photo {
  width: 20%;
  border-radius: 10px;
  margin-right: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  background-color: #383838;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.profile-photo {
  width: 20%;
  border-radius: 10px;
  margin-right: 20px;
  min-width: 100px;
}

.about-card {
  flex: 1;
}

.about-card h1 {
  margin: 8px 0;
}

.about-card p {
  font-size: 16px;
  line-height: 1.5;
}

.skills-card {
  background-color: #383838;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.skills-card h2 {
  margin-bottom: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill {
  padding: 5px;
  transition: transform 0.3s;
}

.skill:hover {
  transform: scale(1.1);
}

.skill i {
  font-size: 40px;
  margin-bottom: 10px;
}

.skill p {
  margin: 0;
  font-size: 16px;
}

.menu-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-link:hover {
  background-color: #0056b3;
}

.projects-container {
  max-width: 1200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.projects-container h1 {
  margin-bottom: 20px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background-color: #383838;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  width: 300px;
  text-align: left;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h2 {
  margin: 15px;
  font-size: 24px;
}

.project-card p {
  margin: 0 15px 15px;
  font-size: 16px;
}

.project-card a {
  display: block;
  margin: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.project-card a:hover {
  background-color: #0056b3;
}

.project-card:hover {
  background-color: #4a4a4a;
  transform: translateY(-5px);
}

.labs-container {
  max-width: 1200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.labs-container h1 {
  margin-bottom: 20px;
}

.labs-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.lab-card {
  background-color: #383838;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  width: 300px;
  text-align: left;
}

.lab-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.lab-card-content {
  padding: 15px;
}

.lab-card h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

.lab-card p {
  margin: 0 0 15px 0;
  font-size: 16px;
}

.lab-card a {
  display: block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.lab-card a:hover {
  background-color: #0056b3;
}

.lab-card:hover {
  background-color: #4a4a4a;
  transform: translateY(-5px);
}

.contact-container {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #383838;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.contact-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: #fff;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background-color: #5a5a5a;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Styling für die Navigationspfeile */
.arrow {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  position: fixed;
  background-color: #383838bb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.arrow:hover {
  transform: scale(1.2);
  background-color: #4a4a4a;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

/* Spezifische Positionierung für linke und rechte Pfeile */
.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

/* Pulsierende Animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
}

.arrow {
  animation: pulse 2s infinite;
}
